@model ArticlePartitionModel

<h2>Article Partition</h2>


<table>
    @foreach (var k in Model.Data.Keys)
    {

        <tr>
            <td>
                @k
            </td>
            <td>
                @Model.Data[k]
            </td>
        </tr>

    }
</table>

@foreach (var set in Model.Partitions)
{   <br />
    <table>
        <tr>
            <td colspan="10">
                <h3>Partition @set.Number</h3>
                Avg Distance: @set.AverageDistance()
            </td>
        </tr>
        @foreach (var article in set.Items.OrderBy(el=>el.Title))
        {
            <tr>
                <td style="width:200px !important;" class="nb">@article.Title</td>
                @foreach (var tag in Model.TagLists[set])
                {
                    @if (article.Tags.Select(el => el.Name).Contains(tag))
                    {
                        <td class="nb" style="border:1px dashed black;">@tag</td>
                    }
                    else
                    {
                        <td style="border:1px dashed black;"></td>
                    }
                }
            </tr>
        }
        </table>
    }