@model ArticleModel

<h1>@Model.Title</h1>

<div class="pageData" kind="viewArticle" title="@Model.Title"></div>

<div class="action">
    <form action="/article/edit/@Model.Title" method="post">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <h3>
        <a href="@Model.LiveUrl">Live</a>
        <br /><a href="@Model.EditUrl">LiveEdit</a>
    </h3>
</div>

@Html.Raw(Model.RenderedBody)

<p>
    @Html.Partial("Tags", new TagViewModel(Model.Tags, ""))
</p>

<div class="action">
    <form action="/article/edit/@Model.Title" method="post">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>
@Html.Partial("PublishButton", Model)
@Html.Partial("DeleteButton", Model)

<ul>
    @foreach (var ad in Model.RelatedArticles)
    {
        <li>
            @Html.Partial("RelatedArticle", ad)
        </li>
    }
</ul>

