@model ArticleModel

<div class="pageData" kind="viewArticle" title="@Model.Title"></div>

<br />


<div class="realarticle">

    @Html.Raw(Model.RenderedBody)

</div>

    <div class="action">
        <form action="/article/edit/@Model.Title" method="post">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
    @Html.Partial("PublishButton", Model)
    @Html.Partial("DeleteButton", Model)

    

<div class="action">
    <h3>
        <a href="@Model.LiveUrl">Live</a>
        <a href="@Model.EditUrl">LiveEdit</a>
    </h3>
</div>
